body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 25px;
  font-size: 50px;
}

#main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 25px;
  background-color: khaki;
  width: 500px;
}

#list-div{
  margin: 15px;
}

input{
  margin: 25px;
}